<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Arriesga una palabra</h1>

    <form action="/jugador2" method="POST">
        <input name="palabra" id="palabra" >

        <input type="submit" value="Adivinar" />
    
    </form>

    <div>
        <%=@mensaje%>
    </div>
    
</body>
</html>